#body {
  background: url("../../assets/img/bg..png") no-repeat;
  background-size: cover;
}

.bg-gradient-primary {
  background: url("../../assets/img/bg..png") no-repeat;
  background-size: cover;
}

.row {
}

section {
}

#ingredientes {
  background: rgba(0,180,201,0.27);
}

